---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import BlogCard from "../components/BlogCard.astro";
import { ViewTransitions } from "astro:transitions";
const posts = await getCollection("blog");
---
<BaseLayout title="Blog - minomino">
    <head>
        <ViewTransitions />
    </head>
    <div class="m-6 max-w-4xl md:mx-auto">
        <h1 class="text-4xl font-bold mb-4">Blog</h1>
        <p class="mt-2">I think too much and you can read about it here.</p>
        <div class="columns-1 lg:columns-2 gap-3 max-w-4xl mt-6">
            {posts.map((post) => (
                <BlogCard post={post} />
            ))}
        </div>
    </div>
</BaseLayout>