---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import tmw from "../images/tmw.png";
import refold from "../images/refold.png";
---
<BaseLayout title="Community Guides - minomino">
    <div class="flex flex-col my-10 mx-6 md:mx-auto md:max-w-2xl">
        <article class="prose lg:prose-xl prose-img:rounded-lg">
            <h2>Community Guides</h2>
            <p>This is a collection of community guides I've read about learning Japanese. I've written a bit about each guide and my experience with them as well.</p>
            <a href="https://learnjapanese.moe/" class="group no-underline"><h3 class="group-hover:text-primary transition flex items-center group-hover:translate-x-2" ><span class="mr-2">The Moe Way</span></h3></a>
            <Image src={tmw} alt="the moe way" class="mx-auto"/>
            <p>The Moe Way is a website centered on learning Japanese. The site is a personal favorite of mine thanks to its great advice, abundant resources, and its focus on Japanese. There are two guides on TMW, a general one, and a beginner-focused one called UsagiSpoon. Though I never used UsagiSpoon myself and don't wholly agree with every step of it, I do think it's a pretty solid step-by-step guide that really walks you through starting off instead of just saying "immerse." Immersion is still at the heart of the guide, but it's thankfully elaborated upon, which is necessary since the word has been overused and misrepresented to death. What I appreciate about The Moe Way, and frankly any guide that's not Refold, is that it's written by one person. What makes that better than Refold, in my opinion, is that hearing a specific person's perspective is more valuable than a generic perspective made to be widely appealing. Hearing one person's perspective allows you to find differences in their learning style compared to your own, which makes it easier to see new ways that you can improve your learning. </p>
            <a href="https://refold.la/" class="group no-underline"><h3 class="group-hover:text-primary transition flex items-center group-hover:translate-x-2" ><span class="mr-2">Refold</span></h3></a>
            <Image src={refold} alt="refold" class="mx-auto"/>
            <p>Refold is probably one of the most popular language-learning guides on the internet that pushes immersion. As opposed to the rest of the sites on this page, it's language-agnostic rather than Japanese-focused. To get a more Japanese-specific take on the Refold "methodology," you'd need to head to the Refold JP Discord server. Truthfully, although I started with Refold and believe that most of what they say applies fine to Japanese, I believe that there are better guides out there for beginners. I found the official roadmap to be too unspecific for my liking, especially when I was a beginner. This led me to spending more time looking at the Discord server rather than the guide itself. I don't think it's bad, but you probably won't see the advice nor receive the resources you need unless you head to the Discord server.</p>
        </article>
    </div>
</BaseLayout>