---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image, getImage } from "astro:assets";
import { getCollection } from "astro:content";
import koito from "../images/koito.png";
import { Button } from "@/components/ui/button";
import { Separator } from "@/components/ui/separator";
import wave from "../images/wave.webp";
import CardHeader from "@/components/CardHeader.astro";

const posts = await getCollection("blog");
posts.sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<BaseLayout title="mikumino" navbar={false}>
  <div class="flex flex-col justify-center items-center mx-4 h-screen">
    <div class="flex flex-col gap-6 w-full max-w-2xl rounded-lg border p-8">
      <CardHeader />
      <div class="flex flex-col gap-4">
        <h2 class="flex text-2xl font-bold gap-2 items-center">
          Hello!
          <Image src={wave} alt="wave" class="h-8 w-auto" />
        </h2>
        <p class="text-lg leading-loose text-foreground">
          I'm mikumino. I'm a software engineer, fraud Japanese learner, and
          part-time anime enjoyer.
        </p>
        <p class="text-lg leading-loose text-foreground">
          I originally made this site to share things related to my experience
          learning Japanese, but it has slowly evolved into something like a
          profile page. I'm nosy and I like clicking through people's profiles
          on Discord, so if you're here for that, I hope you like it!
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
