---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import wave from "../images/wave.webp";
import CardHeader from "@/components/CardHeader.astro";
import Socials from "@/components/Socials.astro";
const anim = {
  old: {
    name: "page-turn-right",
    duration: "0.2s",
    easing: "quad-out",
  },
  new: {
    name: "page-turn-left",
    duration: "0.2s",
    easing: "quad-out",
    direction: "reverse",
  },
};

const customTransition = {
  forwards: anim,
  backwards: anim,
};
---

<BaseLayout title="mikumino" navbar={false}>
  <div class="flex flex-col justify-center items-center gap-2 min-h-screen">
    <div
      class="flex flex-col gap-6 w-full max-w-2xl rounded-lg md:border p-8"
      transition:name="card"
    >
      <CardHeader />
      <div
        class="flex flex-col gap-4"
        transition:animate={customTransition}
        transition:name="body"
      >
        <h2 class="flex text-2xl font-bold gap-2 items-center">
          Hello!
          <Image src={wave} alt="wave" class="h-8 w-auto" loading={"eager"} />
        </h2>
        <p class="text-lg leading-loose text-foreground">
          I'm mikumino. I'm a software engineer, fraud Japanese learner, and
          part-time anime enjoyer.
        </p>
        <p class="text-lg leading-loose text-foreground">
          I originally made this site to share things related to my experience
          learning Japanese, but it has slowly evolved into something like a
          profile page. I'm nosy and I like clicking through people's profiles
          on Discord, so if you're here for that, I hope you like it!
        </p>
      </div>
    </div>
    <Socials />
  </div>
</BaseLayout>
