---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Other - mikumino">
  <div class="m-6 max-w-4xl md:mx-auto" transition:name="card">
    <h1 class="text-4xl font-bold mb-4">Other</h1>
    <p class="mt-2">Dump of random stuff that I want to share.</p>
    <div class="flex flex-col"></div>
  </div>
</BaseLayout>
