---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Other - mikumino">
    <div class="m-6 max-w-4xl md:mx-auto">
        <h1 class="text-4xl font-bold mb-4">Other</h1>
        <p class="mt-2">Other Japanese-related stuff that I want to share. Some mini projects and the like.</p>
    </div>
</BaseLayout>