---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Other - mikumino">
    <div class="m-6 max-w-4xl md:mx-auto">
        <h1 class="text-4xl font-bold mb-4">Other</h1>
        <p class="mt-2">Other Japanese-related stuff that I want to share. Some mini projects and the like.</p>
        <div class="flex flex-col">
            <ul>
                <li class="mt-4 group p-4 hover:shadow-lg rounded-lg hover:bg-gray-800 transition-colors">
                    <a href="/other/kana-quiz">
                        <p class="text-2xl text-primary font-bold group-hover:underline">Kana Quiz</p>
                        <p class="mt-2">A simple quiz to test your knowledge of hiragana and katakana. Made this to try out Svelte.</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</BaseLayout>