---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import GuideCard from "../components/GuideCard.astro";
const guides = await getCollection("personal-guides");
---
<BaseLayout title="Personal Guides - minomino">
    <div class="m-6 max-w-4xl md:mx-auto">
        <h1 class="text-4xl font-bold mb-4 ">Personal Guides</h1>
        <p>Here are some guides I've written. Most of them are guides on using specific tools.</p>
        <div class="columns-1 lg:columns-2 gap-3 max-w-4xl mt-6">
            {guides.map((guide) => (
                <GuideCard post={guide} />
            ))}
        </div>
    </div>
</BaseLayout>