---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";
import ResourceCard from "@/components/ResourceCard.astro";

const resources = await getCollection("resources");
---

<BaseLayout title="Resources - minomino">
  <div class="my-6 mx-6 md:mx-auto md:max-w-4xl" transition:name="card">
    <h1 class="text-4xl font-bold mb-6">Resources</h1>
    <div class="grid md:grid-cols-3 gap-4">
      {resources.map((resource) => <ResourceCard resource={resource} />)}
    </div>
  </div>
  <Footer />
</BaseLayout>
