---
import { Image } from "astro:assets";
import koito from "../images/koito.png";
import { Button } from "@/components/ui/button";
import { Separator } from "@/components/ui/separator";
import { ModeToggle } from "./ModeToggle";
const path = Astro.url.pathname;
---

<div class="flex items-center gap-4">
  <Image
    src={koito}
    transition:name="koito"
    alt="koito"
    class="w-28 rounded-full"
  />
  <div class="flex flex-col gap-1">
    <h1 class="text-4xl font-bold text-primary" transition:name="mikumino">
      mikumino
    </h1>
    <p class="text-xl text-muted-foreground" transition:name="pronouns">
      (he/him)
    </p>
  </div>
</div>
<div class="flex items-center flex-wrap gap-1">
  <a href="/" transition:name="home-card">
    <Button
      variant={"ghost"}
      className={`text-lg ${path === "/" && "text-primary font-bold"}`}
    >
      Home
    </Button>
  </a>
  <a href="/about" transition:name="about-card">
    <Button
      variant={"ghost"}
      className={`text-lg ${path === "/about" && "text-primary font-bold"}`}
    >
      About
    </Button>
  </a>
  <a href="/blog" transition:name="blog-card">
    <Button
      variant={"ghost"}
      className={`text-lg ${path === "/blog" && "text-primary font-bold"}`}
    >
      Blog
    </Button>
  </a>
  <a href="/resources" transition:name="resources-card">
    <Button
      variant={"ghost"}
      className={`text-lg ${path === "/resources" && "text-primary font-bold"}`}
    >
      Resources
    </Button>
  </a>
  <a href="/other" transition:name="other-card">
    <Button
      variant={"ghost"}
      className={`text-lg ${path === "/other" && "text-primary font-bold"}`}
    >
      Other
    </Button>
  </a>
  <ModeToggle client:load />
</div>
<Separator />
