---
import logo from '../images/logo.png';
import { Image } from 'astro:assets';
---
<footer class="footer footer-center p-10 bg-mino-dark-600">
    <div>
        <Image src={logo} alt="Mino Logo" class="w-10 h-10" />
        <p class="text-sm text-mino-100 font-bold select-none">mikumino</p>
    </div>
</footer>