---
import '../global.css';
import logo from "../images/logo.png";
import { Image } from "astro:assets";
import { buttonVariants } from './ui/button';
import { ModeToggle } from './ModeToggle';
---

<div class="max-w-4xl mx-auto mt-2 rounded-lg" transition:name="nav">
    <div class="flex flex-row items-center justify-between">
        <div class="flex flex-row items-center">
            <a href="/" class={`${buttonVariants({ variant:"ghost" })} text-xl text-primary`}><Image src={logo} alt='logo' class="w-7 mr-3" />mikumino</a>
        </div>
        <div class="flex flex-row items-center gap-4">
            <a class={buttonVariants({ variant: "ghost" })} href="/blog">Blog</a>
            <a class={buttonVariants({ variant: "ghost" })} href="/resources">Resources</a>
            <a class={buttonVariants({ variant: "ghost" })} href="/personal-guides">Guides</a>
            <a class={buttonVariants({ variant: "ghost" })} href="/other">Other</a>
            <ModeToggle client:load/>
        </div>
    </div>
</div>
