---
import '../global.css';
import logo from "../images/logo.png";
import { Image } from "astro:assets";
---
<div class='navbar max-w-4xl mx-auto mt-2 outline outline-primary outline-1 rounded-lg'>
    {/* The left of the navbar, has hamburger menu on mobile, logo and pages on desktop */}
    <div class='navbar-start'>
        <details class='dropdown'>
            <summary tabindex={0} class='btn btn-ghost md:hidden'>
                {/* Menu bar thing */}
                <iconify-icon icon="material-symbols-light:menu" style="color: white;" class="text-2xl"></iconify-icon>
            </summary>
            <ul tabindex={0} class='menu menu-sm dropdown-content mt-3 z-[1] p-2 bg-slate-100 text-primary rounded-box w-52'>
                <li><a href="/resources">Resources</a></li>
                <li><a href="/personal-guides">Personal Guides</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </details>
        <ul class="menu menu-horizontal px-1 text-primary">
            <a href="/" class="btn btn-ghost normal-case text-xl text-primary mx-3"><Image src={logo} alt='logo' class="w-7 mr-3" />mikumino</a>
        </ul>
    </div>
    {/* The center of the navbar, has logo on mobile, nothing on desktop */}
    <div class='navbar-center md:hidden'>   
        <a href="/" class="btn btn-ghost normal-case text-xl text-primary mx-3"><Image src={logo} alt='logo' class="w-7 mr-3" />mikumino</a>
    </div>
    <div class='navbar-end'>
        <div class='hidden md:flex'>
            <ul class='menu menu-horizontal px-1 text-primary'>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a href="/personal-guides">Guides</a></li>
                <li><a href="/other">Other</a></li>
            </ul>
        </div>
    </div>
</div>