@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Nunito", sans-serif;
  }
  :root {
    --background: 32 57 95; /* base */
    --foreground: 248 19 40; /* text */

    --muted: 35 100 98; /* surface */
    --muted-foreground: 257 9 61; /* muted */

    --popover: 32 57 95; /* base */
    --popover-foreground: 248 19 40; /* text */

    --card: 32 57 95; /* base */
    --card-foreground: 248 19 40; /* text */

    --border: 315 4 80; /* highlight high */
    --input: 315 4 80; /* highlight high */

    --primary: 343 76 68; /* love */
    --primary-foreground: 32 57 95; /* base */

    --secondary: 35 100 98; /* surface */
    --secondary-foreground: 248 19 40; /* text */

    --accent: 35 100 98; /* surface */
    --accent-foreground: 248 19 40; /* text */

    --destructive: 343 76 68; /* red */
    --destructive-foreground: 220 21.95121943950653% 91.96078181266785%; /* mantle */

    --ring: 248 19 40; /* text */

    --radius: 0.5rem;

    --chart-1: 343 76 68; /* red */
    --chart-2: 183 73.86363744735718% 34.50980484485626%; /* teal */
    --chart-3: 220 91.4893627166748% 53.921568393707275%; /* blue */
    --chart-4: 35 76.98412537574768% 49.41176474094391%; /* yellow */
    --chart-5: 109 57.63546824455261% 39.803922176361084%; /* green */
  }
  .dark {
    --background: 249 22 12; /* base */
    --foreground: 245 50 91; /* text */

    --muted: 247 23 15; /* surface */
    --muted-foreground: 249 12 47; /* muted */

    --popover: 249 22 12; /* base */
    --popover-foreground: 245 50 91; /* text */

    --card: 249 22 12; /* base */
    --card-foreground: 245 50 91; /* text */

    --border: 249 15 28; /* highlight med */
    --input: 249 15 28; /* highlight med */

    --primary: 343 76 68; /* love */
    --primary-foreground: 249 22 12; /* base */

    --secondary: 247 23 15; /* surface */
    --secondary-foreground: 245 50 91; /* text */

    --accent: 247 23 15; /* surface */
    --accent-foreground: 245 50 91; /* text */

    --destructive: 343 81.25% 74.90196228027344%; /* red */
    --destructive-foreground: 240 21.311475336551666% 11.96078434586525%; /* mantle */

    --ring: 226 63.93442749977112% 245 50 91; /* text */

    --radius: 0.5rem;

    --chart-1: 343 81.25% 74.90196228027344%; /* red */
    --chart-2: 170 57.35294222831726% 73.33333492279053%; /* teal */
    --chart-3: 217 91.86992049217224% 75.88235139846802%; /* blue */
    --chart-4: 41 86.04651093482971% 83.13725590705872%; /* yellow */
    --chart-5: 115 54.09836173057556% 76.07843279838562%; /* green */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
