---
import "../global.css";
import Navbar from "../components/Navbar.astro";
import koito from "../images/koito.png";
const { title, navbar = true } = Astro.props;
import Head from "../components/Head.astro";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <Head />
    <ViewTransitions />

    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="mikumino's website about Japanese learning and other things."
    />
    <meta property="og:image" content={koito.src} />
    <meta name="theme-color" content="#e64c3e" />
    <style is:global>
      @keyframes page-turn-left {
        0% {
          transform: rotate(0deg) translateX(0px);
          opacity: 1;
        }
        100% {
          transform: rotate(-5deg) translateX(-50px);
          opacity: 0;
        }
      }
      @keyframes page-turn-right {
        0% {
          transform: rotate(0deg) translateX(0px);
          opacity: 1;
        }
        100% {
          transform: rotate(5deg) translateX(50px);
          opacity: 0;
        }
      }
    </style>
  </head>
  <body>
    {navbar && <Navbar />}
    <slot />
  </body>
</html>
